<div class="login-container">
  <div class="login-left">
    <div class="illustration">
      <div class="security-icon">
        <mat-icon class="lock-icon">shopping_cart</mat-icon>
      </div>
      <div class="floating-elements">
        <div class="element element-1">
          <mat-icon>local_offer</mat-icon>
        </div>
        <div class="element element-2">
          <mat-icon>monetization_on</mat-icon>
        </div>
        <div class="element element-3">
          <mat-icon>store</mat-icon>
        </div>
      </div>
      <div class="illustration-text">
        <h3>Bienvenido</h3>
        <p>Sistema de Gestión de Supermercado</p>
      </div>
    </div>
  </div>

  <div class="login-right">
    <div class="login-card">
      <div class="logo-container">
        <img src="assets/images/logo.png" alt="Sistema de Gestión" class="logo">
      </div>

      <h2 class="login-title">Inicio de Sesión</h2>

      <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
        <div class="form-group">
          <mat-form-field appearance="outline" class="form-field">
            <mat-icon matPrefix class="email-icon">mail</mat-icon>
            <mat-label>Correo Electrónico</mat-label>
            <input matInput formControlName="correoElectronico" type="email" required />
            @if (loginForm.get('correoElectronico')?.errors?.['required']) {
              <mat-error>El correo electrónico es requerido</mat-error>
            } @else if (loginForm.get('correoElectronico')?.errors?.['email']) {
              <mat-error>Correo electrónico inválido</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="outline" class="form-field">
            <mat-icon matPrefix class="lock-icon-prefix">lock</mat-icon>
            <mat-label>Contraseña</mat-label>
            <input matInput  formControlName="clave"  [type]="hide ? 'password' : 'text'"  required />
            <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="visibility-btn">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            @if (loginForm.get('clave')?.errors?.['required']) {
              <mat-error>La contraseña es requerida</mat-error>
            }
          </mat-form-field>
        </div>

        <button type="submit" class="login-button">
          Iniciar Sesión
        </button>
      </form>
    </div>
  </div>
</div>