.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e2eeb7;

  mat-card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    background: #b5d4f3;

    mat-card-title {
      text-align: center;
      font-size: 1.8rem;
      margin-bottom: 1rem;
      color: #333;
    }

    mat-form-field {
      width: 100%;
      margin-bottom: 1.2rem;
    }

    .form__button {
      width: 100%;
      padding: 0.75rem;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0.5rem;

    mat-card {
      padding: 1rem;

      mat-card-title {
        font-size: 1.4rem;
      }

      .form__button {
        font-size: 0.9rem;
      }
    }
  }
}

::ng-deep .mat-mdc-form-field .mdc-floating-label {
  transform: translateY(-100%) translateX(calc(1 * (52px + var(--mat-mdc-form-field-label-offset-x, 0px)))) !important;
}

::ng-deep .form__field .mat-mdc-form-field-subscript-wrapper{
  background: transparent;
}

::ng-deep .form__field .mat-mdc-text-field-wrapper {
  height: 35px !important;
  background: white;
}

::ng-deep .mat-mdc-form-field-flex{
  margin-top: -11px;
}

::ng-deep .form__field .mdc-floating-label {
  top: 50% !important;
  margin-left: 0px;
  transform: translateY(-50%) translateX(0) !important;
  font-size: 14px !important;
}

::ng-deep .form__field .mdc-floating-label.mdc-floating-label--float-above {
  top: 0 !important;
  margin-left: 2px !important;
  transform: translateY(-50%) scale(0.75) !important;
  font-size: 12px;
}