<div class="container">
  <mat-card class="container__card">
    <mat-card-header class="container__header">
      <mat-card-title class="container__title">Registro de transportistas</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="form" novalidate>
        <div class="container__form">
          <div class="form__left">
            <mat-form-field appearance="outline" class="form__field">
              <mat-label>Nombres: </mat-label>
              <input id="nombres" matInput type="text" [formField]="transportistaForm.nombres" aria-label="Nombres">

              @if (transportistaForm.nombres().touched() && transportistaForm.nombres().invalid()) {
                <mat-error class="form__error">{{ transportistaForm.nombres().errors()[0]?.message }}</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="form__field">
              <mat-label>Apellidos: </mat-label>
              <input id="apellidos" matInput type="text" [formField]="transportistaForm.apellidos" aria-label="Apellidos" />
              
              @if (transportistaForm.apellidos().touched() && transportistaForm.apellidos().invalid()) {
                <mat-error class="form__error">{{ transportistaForm.apellidos().errors()[0]?.message }}</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="form__field">
              <mat-label>Cédula: </mat-label>
              <input id="cedula" matInput type="text" inputmode="numeric" [formField]="transportistaForm.cedula" aria-label="Cédula" />

               @if (transportistaForm.cedula().touched() && transportistaForm.cedula().invalid()) {
                <mat-error class="form__error">{{ transportistaForm.cedula().errors()[0]?.message }}</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="form__field">
              <mat-label>Telefono: </mat-label>
              <input id="telefono" matInput type="text" inputmode="numeric" [formField]="transportistaForm.telefono" aria-label="Teléfono" />

              @if (transportistaForm.telefono().touched() && transportistaForm.telefono().invalid()) {
                <mat-error class="form__error">{{ transportistaForm.telefono().errors()[0]?.message }}</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="form__field">
              <mat-label>Correo Electrónico: </mat-label>
              <input id="correo_Electronico" matInput type="email" [formField]="transportistaForm.correo_Electronico" aria-label="Correo Electrónico"/>

              @if (transportistaForm.correo_Electronico().touched() && transportistaForm.correo_Electronico().invalid()) {
                <mat-error class="form__error">{{ transportistaForm.correo_Electronico().errors()[0]?.message }}</mat-error>
              }        
            </mat-form-field>
          </div>
          <div class="form__right">
            <div class="form-group">
              <label for="fileInput">Foto del Transportista:</label>
                <div class="file-input-container">
                  <input type="file" (change)="subirImagen($event)" accept="image/*" #fotoTransportista class="file-input" id="fileInput" />
                    <label for="fileInput" class="file-label">
                      <span class="file-button">
                        <mat-icon>cloud_upload</mat-icon>
                        Seleccionar Foto
                      </span>
                      @if (imagenURL) {
                        <span class="file-filename">
                          {{ imagenURL ? 'Archivo seleccionado' : '' }}
                        </span>
                      }
                    </label>
                    @if (transportistaForm.imagenBase64().touched() && transportistaForm.imagenBase64().invalid()) {
                      <mat-error class="form__error">
                        {{ transportistaForm.imagenBase64().errors()[0]?.message }}
                      </mat-error>
                      }
                    </div>

                    <!-- Vista previa de la imagen -->
                    @if (imagenURL) {
                      <div class="preview-container">
                        <img [src]="imagenURL" alt="Foto del transportista" />
                        <button mat-icon-button class="delete-button" (click)="eliminarImagen()">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    }
                  </div>

                <mat-checkbox [formField]="transportistaForm.estado">Activo</mat-checkbox>
              </div>
            </div>
          <div class="form__action">
          <button class="form__button form__button--primary" mat-raised-button type="button" (click)="registrarTransportista()">Registrar</button>
          <button class="form__button form__button--secondary" mat-stroked-button type="button" (click)="regresar()">Regresar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
