<div class="container">
  <h1 class="container__title">Clientes del MarketEase</h1>
  <div class="container__table">
    <div class="container__search">
      <mat-form-field class="container__search__input" appearance="outline">
        <mat-label>Buscar clientes</mat-label>
        <input
          matInput
          #searchInput
          (keyup)="filtrarClientes(searchInput.value)"
          placeholder="Buscar clientes por varios criterios."
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <button class="container__search__button" mat-raised-button color="primary" (click)="nuevo()">
        <mat-icon class="container__search__icon">person_add</mat-icon> Registrar cliente
      </button>

      <button
        class="container__excel__button"
        mat-raised-button
        color="accent"
        (click)="exportarExcel()"
      >
        <mat-icon class="container__excel__icon">file_download</mat-icon> Exportar a Excel
      </button>
    </div>

    <app-data-table
      [dataSource]="listaCliente"
      [columns]="columns"
      [totalRegistros]="totalRegistros"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]"
      mensajeSinDatos="No hay clientes que mostrar."
      (editar)="editar($event)"
      (eliminar)="eliminar($event)"
      (cambioPagina)="cambiarPagina($event)"
    ></app-data-table>
  </div>
</div>

<router-outlet></router-outlet>
