.venta-formulario {
  padding: 20px;
  margin: auto;
}

.venta-formulario__titulo {
  text-align: center;
  font-size: clamp(1.6rem, 3vw, 2.2rem);
  font-weight: 700;
  margin-bottom: 10px;
}

.venta-formulario__contenedor {
  padding: 0 50px;
}

.venta-formulario__detalle-boton {
  display: flex;
  justify-content: flex-end;
}

.venta-formulario__bloque {
  border-radius: 12px;
  background: #fafafa;
}

.venta-formulario__bloque--cabecera {
  background: #fdfdfd;
}

.venta-formulario__subtitulo {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.venta-formulario__fila {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.form__field {
  flex: 1;
  min-width: 200px;
}

.venta-formulario__acciones-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: start;
}

.venta-formulario__acciones {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.venta-formulario__totales-card {
  border-radius: 12px;
  background: #ffffff;
}

.venta-formulario__totales-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.venta-formulario__tabla {
  overflow-x: auto;
}

table {
  width: 100%;
  min-width: 700px;
}

th,
td {
  text-align: center;
}

@media (max-width: 1024px) {
  .compra-formulario__acciones-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .compra-formulario__fila {
    flex-direction: column;
    align-items: stretch;
  }

  .venta-formulario__totales-grid {
    grid-template-columns: 1fr;
  }

  table {
    min-width: 600px;
  }
}

::ng-deep .mat-mdc-form-field .mdc-floating-label {
  transform: translateY(-100%) translateX(calc(1 * (52px + var(--mat-mdc-form-field-label-offset-x, 0px)))) !important;
}

::ng-deep .form__field .mat-mdc-form-field-subscript-wrapper{
  background: #ffffff;
}

::ng-deep .form__field .mat-mdc-text-field-wrapper {
  height: 35px !important;
}

::ng-deep .mat-mdc-form-field-flex{
  margin-top: -11px;
}

::ng-deep .form__field .mdc-floating-label {
  top: 50% !important;
  margin-left: 0px;
  transform: translateY(-50%) translateX(0) !important;
  font-size: 14px !important;
}

::ng-deep .form__field .mdc-floating-label.mdc-floating-label--float-above {
  top: 0 !important;
  margin-left: 2px !important;
  transform: translateY(-50%) scale(0.75) !important;
  font-size: 12px;
}