<div class="sidebar" [ngClass]="{ 'sidebar-collapsed': isCollapsed }">
    <button mat-icon-button class="sidebar-toggle-btn-inside" (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="user-info" >
        @if(!isCollapsed){
            <span class="user-name">{{ nombreUsuario }}</span>
            <span class="user-role">{{ tipoUsuario }}</span>
        }
    </div>
    <nav class="sidebar-menu">
        <button mat-icon-button routerLink="/home" class="menu-item" [matTooltip]="isCollapsed ? 'Inicio' : ''">
            <mat-icon>home</mat-icon>
        </button>
        @for (menu of menus; track $index) {
            <button mat-button [routerLink]="menu.urlMenu" class="menu-item" [matTooltip]="isCollapsed ? menu.nombreMenu : ''">
                <mat-icon>{{ menu.nombreIcono }}</mat-icon>
                @if(!isCollapsed){
                    <span class="text">{{ menu.nombreMenu }}</span>
                }
            </button>
        }
    </nav>
    <button class="menu-item salir" (click)="logout()" [matTooltip]="isCollapsed ? 'Salir' : ''">
        <mat-icon>exit_to_app</mat-icon>
        @if(!isCollapsed){
            <span class="text">Salir</span>
        }
    </button>
</div>