.venta {
  padding: 20px;

  &__titulo {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__formulario {
    padding-left: 2.3rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__busqueda {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;

    &-input {
      width: 100%;
    }

    &-mensaje {
      display: flex;
      align-items: center;
      gap: 5px;
      background-color: #fce4e4;
      color: #ee4a4a;
      border: 1px solid #d32f2f;
      padding: 4px 8px;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 500;
      white-space: nowrap;
    }
  }

  &__busqueda-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__busqueda-actions {
    display: flex;
    gap: 12px;
  }

  &__mensaje-error {
    margin-left: 0.5rem;
    font-size: 0.875rem;
  }

  &__seccion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__grupo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
  }

  &__grupo--totales {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
  }

  .campo-horizontal {
    display: grid;
    align-items: baseline;
  }

  p {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: -2px;
  }

  @media (max-width: 768px) {
    .campo-horizontal {
      grid-template-columns: 1fr;

      label {
        text-align: left;
      }
    }
  }

  &__tabla {
    overflow-x: auto;

    table {
      width: 100%;
      margin-bottom: -12px;
    }

    tr {
      height: 43px;
    }
  }
}

::ng-deep .form__field .mat-mdc-form-field-subscript-wrapper{
  background: #ffffff;
}

::ng-deep .form__field .mat-mdc-text-field-wrapper {
  height: 35px !important;
}

::ng-deep .mat-mdc-form-field-flex{
  margin-top: -11px;
}

::ng-deep .form__field .mdc-floating-label {
  top: 50% !important;
  margin-left: 0px;
  transform: translateY(-50%) translateX(0) !important;
  font-size: 14px !important;
}

::ng-deep .form__field .mdc-floating-label.mdc-floating-label--float-above {
  top: 0 !important;
  margin-left: 2px !important;
  transform: translateY(-50%) scale(0.75) !important;
  font-size: 12px;
}

::ng-deep .mat-mdc-form-field-error {
  font-size: 0.85rem;
  font-weight: 500;
}

::ng-deep .form__field__search .mat-mdc-text-field-wrapper{
  height: 35px !important;
  width: 350px !important;
}

::ng-deep .form__field__search .mdc-floating-label {
  top: 50% !important;
  margin-left: 0px;
  transform: translateY(-50%) translateX(0) !important;
  font-size: 14px !important;
}

::ng-deep .form__field__search .mdc-floating-label.mdc-floating-label--float-above {
  top: 0 !important;
  margin-left: 2px !important;
  transform: translateY(-50%) scale(0.75) !important;
  font-size: 12px;
}