.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e2eeb7;
  padding: 20px;

  &__card {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    background: white;
  }

  &__header {
    display: grid;
    text-align: center;
    margin-bottom: 10px;
  }

  &__title {
    align-content: flex-start;
    color: #4a4a4a;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__field {
      width: 100%;
      background: white;
      border-radius: 8px;
    }

    &__error {
      font-size: 0.9rem;
      color: red;
    }

    &__button {
      width: 100%;
      padding: 12px;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 8px;
      color: white;
      transition: 0.3s ease-in-out;
      border: none;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        background: #5a90c7;
      }
    }
  }
}
