<div class="container">
  <h1 class="container__title">Usuarios del MarketEase</h1>
  <div class="container__table">
    <div class="container__search">
      <mat-form-field class="container__search__input" appearance="outline">
        <mat-label>Buscar usuario</mat-label>
        <input
          matInput
          #searchInput
          (keyup)="filtrarUsuarios(searchInput.value)"
          placeholder="Buscar usuarios por varios criterios."
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <button class="container__search__button" mat-raised-button color="primary" (click)="nuevo()">
        <mat-icon>person_add</mat-icon> Registrar usuario
      </button>

      <button
        class="container__excel__button"
        mat-raised-button
        color="accent"
        (click)="exportarExcel()"
      >
        <mat-icon class="container__excel__icon">file_download</mat-icon> Exportar a Excel
      </button>
    </div>

    <table class="table" mat-table [dataSource]="listaUsuario">
      <!-- No. -->
      <ng-container matColumnDef="id">
        <th class="table__header" mat-header-cell *matHeaderCellDef>No.</th>
        <td class="table__cell" mat-cell *matCellDef="let element">{{ element.id_Usuario }}</td>
      </ng-container>

      <!-- Código -->
      <ng-container matColumnDef="codigo">
        <th class="table__header" mat-header-cell *matHeaderCellDef>Código</th>
        <td class="table__cell" mat-cell *matCellDef="let element">{{ element.codigo }}</td>
      </ng-container>

      <!-- Nombre Completo -->
      <ng-container matColumnDef="nombre_Completo">
        <th class="table__header" mat-header-cell *matHeaderCellDef>Nombre completo</th>
        <td class="table__cell" mat-cell *matCellDef="let element">
          {{ element.nombre_Completo }}
        </td>
      </ng-container>

      <!-- Correo Electrónico -->
      <ng-container matColumnDef="correo_Electronico">
        <th class="table__header" mat-header-cell *matHeaderCellDef>Correo Electrónico</th>
        <td class="table__cell" mat-cell *matCellDef="let element">
          {{ element.correo_Electronico }}
        </td>
      </ng-container>

      <!-- Rol -->
      <ng-container matColumnDef="rol">
        <th class="table__header" mat-header-cell *matHeaderCellDef>Rol</th>
        <td class="table__cell" mat-cell *matCellDef="let element">{{ element.nombre_Rol }}</td>
      </ng-container>

      <!-- Estado -->
      <ng-container matColumnDef="estado">
        <th class="table__header" mat-header-cell *matHeaderCellDef>Estado</th>
        <td
          class="table__cell"
          mat-cell
          *matCellDef="let element"
          [ngClass]="{
            'table__estado-activo': element.estado,
            'table__estado-no-activo': !element.estado
          }"
        >
          {{ getEstado(element.estado) }}
        </td>
      </ng-container>

      <!-- Fecha de Creación -->
      <ng-container matColumnDef="fecha_Creacion">
        <th class="table__header" mat-header-cell *matHeaderCellDef>Fecha de Creación</th>
        <td class="table__cell" mat-cell *matCellDef="let element">
          {{ getFechaCreacion(element.fecha_Creacion) }}
        </td>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="accion">
        <th class="table__header" mat-header-cell *matHeaderCellDef>Acción</th>
        <td class="table__cell" mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="editar(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="eliminar(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="totalRegistros"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    >
    </mat-paginator>

    <!-- Mensaje cuando no hay datos -->
    @if (listaUsuario.filteredData.length === 0) {
      <div class="container__message">
        <mat-icon class="container__message__icon">info_outline</mat-icon>
        <span class="container__message__text">No hay usuarios que mostrar.</span>
      </div>
    }
  </div>
</div>

<router-outlet></router-outlet>
