<div class="compra">
  <h1 class="compra__titulo">Detalle de la Compra</h1>
  <div class="compra__contenedor">
    <form class="compra__formulario" [formGroup]="compra">

      <!-- BUSCADOR -->
      <div class="compra__busqueda">
        <div class="compra__busqueda-wapper">
          <mat-form-field appearance="outline" class="form__field">
            <mat-label>Buscar compra</mat-label>
            <input
              matInput
              #searchInput
              (keyup)="filtrarCompra(searchInput.value)"
              placeholder="Ingrese un número de documento."
            />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>

          @if(mensajeBusqueda){
            <div class="compra__busqueda-mensaje">
              <mat-icon color="warn">error</mat-icon>
              <span class="compra__mensaje-error">{{ mensajeBusqueda }}</span>
            </div>
          }
        </div>  
        <div class="compra__busqueda-actions">
          <button mat-raised-button color="warn" (click)="limpiar()">
            <mat-icon>cleaning_services</mat-icon>
            Limpiar
          </button>

          <button mat-raised-button color="accent" (click)="descargarPDF()">
            <mat-icon>add_circle</mat-icon>
            Descargar PDF
          </button>
        </div>
       </div>

      <!-- SECCIÓN PRINCIPAL -->
      <div class="compra__seccion">

        <!-- DATOS -->
        <div class="compra__grupo">
          <div class="campo-horizontal">
            <mat-label>Fecha:</mat-label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="fecha" readonly />
            </mat-form-field>
          </div>

          <div class="campo-horizontal">
            <mat-label>Tipo Documento:</mat-label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="tipoDocumento" readonly />
            </mat-form-field>
          </div>

          <div class="campo-horizontal">
            <mat-label>Usuario:</mat-label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="nombreUsuario" readonly />
            </mat-form-field>
          </div>
        </div>

        <!-- SUCURSAL -->
        <div class="compra__grupo">
          <div class="campo-horizontal">
            <mat-label>Nombre:</mat-label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="nombreSucursal" readonly />
            </mat-form-field>
          </div>

          <div class="campo-horizontal">
            <mat-label>Dirección:</mat-label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="direccionSucursal" readonly />
            </mat-form-field>
          </div>
        </div>

        <!-- PROVEEDOR -->
        <div class="compra__grupo">
          <div class="campo-horizontal">
            <mat-label>Proveedor:</mat-label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="proveedor" readonly />
            </mat-form-field>
          </div>

          <div class="campo-horizontal">
            <mat-label>Cédula:</mat-label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="cedulaProveedor" readonly />
            </mat-form-field>
          </div>
        </div>

        <!-- TRANSPORTISTA -->
        <div class="compra__grupo">
          <div class="campo-horizontal">
            <mat-label>Transportista:</mat-label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="transportista" readonly />
            </mat-form-field>
          </div>

          <div class="campo-horizontal">
            <mat-label>Cédula:</mat-label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="cedulaTransportista" readonly />
            </mat-form-field>
          </div>
        </div>

        <!-- TOTALES -->
        <div class="compra__grupo compra__grupo--totales">
          <div class="campo-horizontal">
            <mat-label>Total a Pagar:</mat-label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="totalPagar" readonly />
              <span matTextPrefix>$&nbsp;</span>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- TABLA -->
      <div class="compra__tabla">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id_Producto }}</td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.productos }}</td>
          </ng-container>

          <ng-container matColumnDef="precio_Compra">
            <th mat-header-cell *matHeaderCellDef>Precio Compra</th>
            <td mat-cell *matCellDef="let element">
              {{ element.precio_Compra | currency: 'USD' : 'symbol' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="precio_Venta">
            <th mat-header-cell *matHeaderCellDef>Precio Venta</th>
            <td mat-cell *matCellDef="let element">
              {{ element.precio_Venta | currency: 'USD' : 'symbol' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
            <td mat-cell *matCellDef="let element">{{ element.cantidad }}</td>
          </ng-container>

          <ng-container matColumnDef="subTotal">
            <th mat-header-cell *matHeaderCellDef>Subtotal</th>
            <td mat-cell *matCellDef="let element">
              {{ element.subTotal | currency: 'USD' : 'symbol' }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
          <tr mat-row *matRowDef="let row; columns: columnasTabla"></tr>
        </table>
      </div>
    </form>
  </div>
</div>
