.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e2eeb7;

  &__card {
    width: 100%;
    max-width: 800px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    background: white;
  }

  &__header {
    background-color: #3f51b5;
    color: white;
    padding: 1rem;
    border-radius: 12px 12px 0 0;
  }

  &__titulo {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
  }

  &__contenido {
    padding-top: 1rem;
  }

  &__grafico-contenedor {
    width: 100%;
    height: 400px;
    position: relative;
  }

  &__botones-acciones{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__canvas {
    max-width: 100%;
    height: 100% !important;
  }

  &__acciones {
    margin-top: 1rem;
  }

  &__botones {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;

    button {
      min-width: 200px;
    }
  }
}