<mat-card class="estadistica-negocio">
  <mat-card-header class="estadistica-negocio__header">
    <mat-card-title class="estadistica-negocio__titulo"> Estadísticas del Negocio </mat-card-title>
  </mat-card-header>

  <mat-card-content class="estadistica-negocio__contenido">
    <button mat-raised-button color="primary" (click)="descargarPDF()">
      Exportar gráfico a PDF
    </button>
    <div class="estadistica-negocio__grafico-contenedor">
      <canvas
        baseChart
        class="estadistica-negocio__canvas"
        [data]="chartData"
        [type]="chartType"
        [options]="chartOptions"
        [plugins]="chartPlugins"
      >
      </canvas>
    </div>
  </mat-card-content>

  <mat-card-actions class="estadistica-negocio__acciones">
    <div class="estadistica-negocio__botones">
      <button mat-raised-button color="primary" (click)="verEstadisticas1()">
        Productos más comprados
      </button>
      <button mat-raised-button color="accent" (click)="verEstadisticas2()">
        Productos más vendidos
      </button>
      <button mat-raised-button color="warn" (click)="verEstadisticas3()">
        Empleados más productivos
      </button>
      <button mat-raised-button color="primary" (click)="verEstadisticas4()">
        Clientes frecuentes
      </button>
      <button mat-raised-button color="accent" (click)="verEstadisticas5()">
        Proveedores preferidos
      </button>
      <button mat-raised-button color="warn" (click)="verEstadisticas6()">
        Viajes transportistas
      </button>
    </div>
  </mat-card-actions>
</mat-card>
