$primary-color: #79ACDE;
$secondary-color: #666;
$background-color: #ffffff;
$box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
$border-radius: 8px;
$button-padding: 8px 16px;
$button-radius: 5px;

@mixin flex-center($gap: 15px) {
  display: flex;
  justify-content: center;
  gap: $gap;
}

@mixin button-style {
  font-size: 1rem;
  padding: $button-padding;
  border-radius: $button-radius;
  cursor: pointer;
}

.dialog {
  background-color: $background-color;
  padding: 20px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  text-align: center;

  &__title {
    color: $primary-color;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
  }

  &__container {
    font-size: 18px;
    color: $secondary-color;
    margin-bottom: 20px;
    display: block;
  }

  &__button {
    @include flex-center();

    button {
      @include button-style;

      &:first-child {
        background-color: #79ACDE;
        color: #ffffff;
      }

      &:last-child {
        color: #5a5a5a;
        background-color: transparent;
      }
    }
  }
}
