<h2>Seleccione un producto</h2>

<mat-form-field appearance="outline" class="form__field__producto">
  <mat-label>Buscar Producto</mat-label>
  <input
    matInput
    #inputBuscador
    (keyup)="aplicarFiltro($event)"
    placeholder="Ingrese nombre o código"
  />
  @if(filtro){
    <button mat-icon-button matSuffix (click)="limpiarFiltro(inputBuscador)">
      <mat-icon>close</mat-icon>
    </button>
  }
</mat-form-field>

<div class="productos-scroll">
  <app-data-table
    [dataSource]="dataSource"
    [columns]="columnas"
    [totalRegistros]="dataSource.data.length"
    [pageSize]="10"
    mensajeSinDatos="No hay productos activos que mostrar."
    (seleccionar)="seleccionarProducto($event)"
  ></app-data-table>
</div>

<div class="boton-cerrar">
  <button mat-button (click)="cerrar()">Cerrar</button>
</div>
