.sidebar {
  width: 300px;
  background: #79acde;
  color: white;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.sidebar-collapsed {
  width: 60px;

  .sidebar-header span {
    display: none;
  }

  .menu-item span {
    display: none;
  }
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 6px;
  transition: background 0.25s ease;
  width: 100%;
  margin-bottom: 5px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
}

.menu-item.salir {
  margin-top: auto;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 100%;
}

.sidebar-collapsed .menu-item.salir {
  justify-content: center;
  margin-bottom: 20px;
}

.sidebar-collapsed .menu-item:not(.salir) {
  justify-content: center;
}

.menu-item mat-icon {
  font-size: 24px !important;
  width: 24px !important;
  height: 24px !important;
  color: black;
}

.sidebar-toggle-btn-inside mat-icon {
  color: white;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

.user-name,
.user-role {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  white-space: nowrap;
}

.sidebar-toggle-btn-inside {
  background: transparent;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  width: 100%;
  border-radius: 6px;
  transition: background 0.25s ease;
  border: none;
  justify-content: flex-start;
  padding-left: 10px;

  mat-icon {
    margin-left: 0 !important;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.text {
  font-size: 14px;
}

.menu-item:not(.salir):hover {
  background: white;
}

.sidebar-collapsed .sidebar-toggle-btn-inside {
  justify-content: center;
  padding-left: 0;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .sidebar.sidebar-collapsed {
    transform: translateX(0);
    width: 260px;
  }

  .sidebar-toggle-btn-inside {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1100;
  }
}