<h2>Seleccione una sucursal</h2>

<mat-form-field appearance="outline" class="form__field__sucursal">
  <mat-label>Buscar Sucursal</mat-label>
  <input
    matInput
    #inputBuscador
    (keyup)="aplicarFiltro($event)"
    placeholder="Ingrese nombre o código"
  />
  @if(filtro){
    <button mat-icon-button matSuffix (click)="limpiarFiltro(inputBuscador)">
      <mat-icon>close</mat-icon>
    </button>
  }

</mat-form-field>

<div class="sucursal-scroll">
  <app-data-table
    [dataSource]="dataSource"
    [columns]="columnas"
    [totalRegistros]="dataSource.data.length"
    [pageSize]="10"
    mensajeSinDatos="No hay sucursales activas que mostrar."
    (seleccionar)="seleccionarSucursal($event)"
  ></app-data-table>
</div>

<div class="boton-cerrar">
  <button mat-button (click)="cerrar()">Cerrar</button>
</div>
