<div class="container">
  <mat-card class="container__card">
    <mat-card-header class="container__header">
      <mat-card-title class="container__title">Editar información del producto</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="form" [formGroup]="formProducto">
        <mat-form-field class="form__field">
          <mat-label>Nombre: </mat-label>
          <input matInput type="text" formControlName="nombre" maxlength="30" minlength="4" />
          @if (nombreField.hasError('required')) {
            <mat-error class="form__error">Ingrese un nombre.</mat-error>
          } @else if (nombreField.hasError('minlength')) {
            <mat-error class="form__error">El nombre del producto es demasiado corto.</mat-error>
          } @else if (nombreField.hasError('soloLetras')) {
            <mat-error class="form__error"
              >El nombre del producto solo debe contener letras.</mat-error
            >
          }
        </mat-form-field>

        <mat-form-field class="form__field">
          <mat-label>Descripción: </mat-label>
          <textarea matInput formControlName="descripcion" maxlength="50" minlength="4"></textarea>
          @if (descripcionField.hasError('required')) {
            <mat-error class="form__error">Ingrese una descripción.</mat-error>
          } @else if (descripcionField.hasError('minlength')) {
            <mat-error class="form__error">Descripción demasiada corta.</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="form__field">
          <mat-label>Seleccione una categoría</mat-label>
          <mat-select
            disableRipple
            formControlName="categoria"
            (selectionChange)="categoriaSeleccionada($event)"
          >
            @for (categoria of categorias; track $index) {
              <mat-option [value]="categoria.id_Categoria">{{
                categoria.nombre_Categoria
              }}</mat-option>
            }
          </mat-select>
          @if (
            categoriaSeleccionadaField.hasError('required') ||
            categoriaSeleccionadaField.hasError('categoriaInvalida')
          ) {
            <mat-error class="form__error">Debe seleccionar una categoría.</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="form__field">
          <mat-label>País de origen: </mat-label>
          <input matInput type="text" formControlName="paisOrigen" maxlength="30" minlength="3" />
          @if (paisOrigenField.hasError('required')) {
            <mat-error class="form__error">Ingrese un país.</mat-error>
          } @else if (paisOrigenField.hasError('minlength')) {
            <mat-error class="form__error">País demasiada corta.</mat-error>
          } @else if (paisOrigenField.hasError('soloLetras')) {
            <mat-error class="form__error">El país solo debe contener letras.</mat-error>
          }
        </mat-form-field>

        <mat-checkbox class="form__checkbox" formControlName="estado">Agotado</mat-checkbox>

        <button
          class="form__button"
          mat-raised-button
          color="primary"
          type="button"
          (click)="editarProducto()"
        >
          Editar
        </button>
        <button
          class="form__button"
          mat-raised-button
          color="primary"
          type="button"
          (click)="regresar()"
        >
          Regresar
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
