<mat-card-content class="ia-card ">
	<div>
		<button mat-button color="warn" (click)="volver()">
			<mat-icon>keyboard_backspace</mat-icon> Volver
		</button>
	</div>
    <mat-form-field appearance="outline" class="ia-input">
      <mat-label>Escribe tu pregunta</mat-label>
      <textarea
        matInput
        rows="4"
        [(ngModel)]="prompt"
        placeholder="Ej: Dame un resumen de los productos más vendidos"
      ></textarea>
    </mat-form-field>

    <button 
      mat-raised-button 
      color="primary"
      (click)="generar()"
      [disabled]="loading || !prompt">
      {{ loading ? 'Generando...' : 'Generar Respuesta' }}
    </button>

    <div class="ia-respuesta" *ngIf="respuesta">
      <h4>Respuesta:</h4>
      <p>{{ respuesta }}</p>
    </div>
</mat-card-content>