<div class="container">
  <mat-card class="container__card">
    <mat-card-header class="container__header">
      <mat-card-title class="container__title">Información del negocio</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="form" [formGroup]="formNegocio">
        <div class="form-grid">
          <div class="form-left">
            <mat-form-field class="form__field">
              <mat-label>ID: </mat-label>
              <input matInput type="text" formControlName="id" readonly />
            </mat-form-field>

            <mat-form-field class="form__field">
              <mat-label>Nombre: </mat-label>
              <input matInput type="text" formControlName="nombre" maxlength="60" minlength="3" />
              @if (nombreField.hasError('required')) {
                <mat-error class="form__error">Ingrese sus nombres.</mat-error>
              } @else if (nombreField.hasError('minlength')) {
                <mat-error class="form__error">Nombres demasiados cortos.</mat-error>
              }
            </mat-form-field>

            <mat-form-field class="form__field">
              <mat-label>Telefono: </mat-label>
              <input matInput type="text" formControlName="telefono" />
              @if (telefonoField.hasError('required')) {
                <mat-error class="form__error">Ingrese su telefono.</mat-error>
              } @else if (telefonoField.hasError('soloNumeros')) {
                <mat-error class="form__error"
                  >Ingrese un numero de teléfono válido (10 dígitos).</mat-error
                >
              }
            </mat-form-field>

            <mat-form-field class="form__field">
              <mat-label>RUC: </mat-label>
              <input matInput type="text" formControlName="ruc" />
              @if (rucField.hasError('required')) {
                <mat-error class="form__error">Ingrese el RUC.</mat-error>
              } @else if (rucField.hasError('rucValido')) {
                <mat-error class="form__error">Ingrese un RUC válido (13 dígitos).</mat-error>
              }
            </mat-form-field>

            <mat-form-field class="form__field">
              <mat-label>Dirección: </mat-label>
              <input matInput formControlName="direccion" />
              @if (direccionField.hasError('required')) {
                <mat-error class="form__error">Ingrese una dirección.</mat-error>
              }
            </mat-form-field>

            <mat-form-field class="form__field">
              <mat-label>Correo Electrónico: </mat-label>
              <input matInput type="email" formControlName="correoElectronico" />
              @if (correoElectronicoField.hasError('required')) {
                <mat-error class="form__error">Ingrese su Correo Electrónico</mat-error>
              } @else if (correoElectronicoField) {
                <mat-error class="form__error">Ingrese un Correo Electrónico válido.</mat-error>
              }
            </mat-form-field>
          </div>

          <div class="form-right">
            <div class="form-group">
              <label for="fileInput">Foto del Negocio:</label>
              <div class="file-input-container">
                <input
                  type="file"
                  (change)="subirImagen($event)"
                  accept="image/*"
                  #fotoTransportista
                  class="file-input"
                  id="fileInput"
                />
                <label for="fileInput" class="file-label">
                  <span class="file-button">
                    <mat-icon>cloud_upload</mat-icon>
                    Seleccionar Foto
                  </span>
                  @if (imagenURL) {
                    <span class="file-filename">
                      {{ imagenURL ? 'Archivo seleccionado' : '' }}
                    </span>
                  }
                </label>
                @if (
                  imagenBase64Field.invalid &&
                  (imagenBase64Field.dirty || imagenBase64Field.touched)
                ) {
                  <mat-error class="form__error"
                    >Es obligatorio subir una foto del Negocio.</mat-error
                  >
                }
              </div>

              <!-- Vista previa de la imagen -->
              @if (imagenURL) {
                <div class="preview-container">
                  <img [src]="imagenURL" alt="Foto del transportista" />
                  <button mat-icon-button class="delete-button" (click)="eliminarImagen()">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              }
            </div>
            <button mat-raised-button color="primary" (click)="verEstadistica()">
              Ver Estadistica
            </button>
          </div>
        </div>
        <button mat-raised-button color="accent" type="button" (click)="editarNegocio()">
          Editar
        </button>
        <button mat-raised-button color="warn" type="button" (click)="regresar()">Regresar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
