<div class="container">
  <h1 class="container__title">Proveedores del supermercado Paradisia</h1>
  <div class="container__table">
    <div class="container__search">
      <mat-form-field class="container__search__input" appearance="outline">
        <mat-label>Buscar proveedor</mat-label>
        <input
          matInput
          #searchInput
          (keyup)="filtrarProveedores(searchInput.value)"
          placeholder="Buscar proveedores por varios criterios."
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <button class="container__search__button" mat-raised-button color="primary" (click)="nuevo()">
        <mat-icon>person_add</mat-icon> Registrar proveedor
      </button>

      <button
        class="container__excel__button"
        mat-raised-button
        color="accent"
        (click)="exportarExcel()"
      >
        <mat-icon class="container__excel__icon">file_download</mat-icon> Exportar a Excel
      </button>
    </div>

    <table class="table" mat-table [dataSource]="listaProveedor">
      <!-- No. -->
      <ng-container matColumnDef="id">
        <th class="table__header" mat-header-cell *matHeaderCellDef>No.</th>
        <td class="table__cell" mat-cell *matCellDef="let element">{{ element.id_Proveedor }}</td>
      </ng-container>

      <!-- Código -->
      <ng-container matColumnDef="codigo">
        <th class="table__header" mat-header-cell *matHeaderCellDef>Código</th>
        <td class="table__cell" mat-cell *matCellDef="let element">{{ element.codigo }}</td>
      </ng-container>

      <!-- Nombres -->
      <ng-container matColumnDef="nombres">
        <th class="table__header" mat-header-cell *matHeaderCellDef>Nombres</th>
        <td class="table__cell" mat-cell *matCellDef="let element">{{ element.nombres }}</td>
      </ng-container>

      <!-- Apellidos -->
      <ng-container matColumnDef="apellidos">
        <th class="table__header" mat-header-cell *matHeaderCellDef>Apellidos</th>
        <td class="table__cell" mat-cell *matCellDef="let element">{{ element.apellidos }}</td>
      </ng-container>

      <!-- Cédula -->
      <ng-container matColumnDef="cedula">
        <th class="table__header" mat-header-cell *matHeaderCellDef>Cédula</th>
        <td class="table__cell" mat-cell *matCellDef="let element">{{ element.cedula }}</td>
      </ng-container>

      <!-- Teléfono -->
      <ng-container matColumnDef="telefono">
        <th class="table__header" mat-header-cell *matHeaderCellDef>Teléfono</th>
        <td class="table__cell" mat-cell *matCellDef="let element">{{ element.telefono }}</td>
      </ng-container>

      <!-- Correo Electrónico -->
      <ng-container matColumnDef="correo_Electronico">
        <th class="table__header" mat-header-cell *matHeaderCellDef>Correo Electrónico</th>
        <td class="table__cell" mat-cell *matCellDef="let element">
          {{ element.correo_Electronico }}
        </td>
      </ng-container>

      <!-- Estado -->
      <ng-container matColumnDef="estado">
        <th class="table__header" mat-header-cell *matHeaderCellDef>Estado</th>
        <td
          class="table__cell"
          mat-cell
          *matCellDef="let element"
          [ngClass]="{
            'table__estado-activo': element.estado,
            'table__estado-no-activo': !element.estado
          }"
        >
          {{ getEstado(element.estado) }}
        </td>
      </ng-container>

      <!-- Fecha de Registro -->
      <ng-container matColumnDef="fecha_Registro">
        <th class="table__header" mat-header-cell *matHeaderCellDef>Fecha de Registro</th>
        <td class="table__cell" mat-cell *matCellDef="let element">
          {{ getFechaRegistro(element.fecha_Registro) }}
        </td>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="accion">
        <th class="table__header" mat-header-cell *matHeaderCellDef>Acción</th>
        <td class="table__cell" mat-cell *matCellDef="let element">
          <button mat-icon-button color="accent" (click)="editar(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="eliminar(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="totalRegistros"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    >
    </mat-paginator>

    <!-- Mensaje cuando no hay datos -->
    @if (listaProveedor.filteredData.length === 0) {
      <div class="container__message">
        <mat-icon class="container__message__icon">info_outline</mat-icon>
        <span class="container__message__text">No hay proveedores que mostrar.</span>
      </div>
    }
  </div>
</div>

<router-outlet></router-outlet>
