<div class="container">
  <mat-card class="container__card">
    <mat-card-header class="container__header">
      <mat-card-title class="container__title">Registro de proveedores</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="form" novalidate>
        <mat-form-field appearance="outline" class="form__field">
          <mat-label>Codigo: </mat-label>
          <input id="codigo" matInput type="text" [value]="proveedorModel().codigo" readonly aria-label="Código" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form__field">
          <mat-label>Nombres: </mat-label>
          <input id="nombres" matInput type="text" [formField]="proveedorForm.nombres" aria-label="Nombres" />

          @if (proveedorForm.nombres().touched() && proveedorForm.nombres().invalid()) {
            <mat-error class="form__error">{{ proveedorForm.nombres().errors()[0]?.message }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="form__field">
          <mat-label>Apellidos: </mat-label>
          <input id="apellidos" matInput type="text" [formField]="proveedorForm.apellidos" aria-label="Apellidos" />

          @if (proveedorForm.apellidos().touched() && proveedorForm.apellidos().invalid()) {
            <mat-error class="form__error">{{ proveedorForm.apellidos().errors()[0]?.message }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="form__field">
          <mat-label>Cédula: </mat-label>
          <input id="cedula" matInput inputmode="numeric" [formField]="proveedorForm.cedula" aria-label="Cédula" />
        
          @if (proveedorForm.cedula().touched() && proveedorForm.cedula().invalid()) {
            <mat-error class="form__error">{{ proveedorForm.cedula().errors()[0]?.message }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="form__field">
          <mat-label>Teléfono: </mat-label>
          <input id="telefono" matInput inputmode="numeric" [formField]="proveedorForm.telefono" aria-label="Teléfono"/>

          @if (proveedorForm.telefono().touched() && proveedorForm.telefono().invalid()) {
            <mat-error class="form__error">{{ proveedorForm.telefono().errors()[0]?.message }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="form__field">
          <mat-label>Correo Electrónico: </mat-label>
          <input id="correo_Electronico" matInput type="email" [formField]="proveedorForm.correo_Electronico" aria-label="Correo Electrónico" />
  
          @if (proveedorForm.correo_Electronico().touched() && proveedorForm.correo_Electronico().invalid()) {
            <mat-error class="form__error">{{ proveedorForm.correo_Electronico().errors()[0]?.message }}</mat-error>
          }
        </mat-form-field>

        <mat-checkbox formControlName="estado">Activo</mat-checkbox>

        <div class="form__action">
          <button class="form__button form__button--primary" mat-raised-button type="button" (click)="registrarProveedor()">Registrar</button>
          <button class="form__button form__button--secondary" mat-stroked-button type="button" (click)="regresar()">Regresar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
