.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e2eeb7;

  &__card {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    background: white;
  }

  &__header {
    display: grid;
    text-align: center;
    margin-bottom: 10px;
  }

  &__title {
    align-content: flex-start;
    color: #4a4a4a;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__field {
      width: 100%;
      background: white;
      border-radius: 8px;
    }

    &__error {
      font-size: 0.9rem;
      color: red;
    }

    &__action{
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      gap: 10px;
    }

    &__button {
        width: 100%;
        padding: 12px;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
      }

      &__button--primary {
        background-color: #79ACDE;
        color: #ffffff;
      }

      &__button--secondary {
        color: #5a5a5a;
        background-color: transparent;
      }
  }
}

::ng-deep .mat-mdc-form-field .mdc-floating-label {
  transform: translateY(-100%) translateX(calc(1 * (52px + var(--mat-mdc-form-field-label-offset-x, 0px)))) !important;
}

::ng-deep .form__field .mat-mdc-form-field-subscript-wrapper{
  background: #ffffff;
}

::ng-deep .form__field .mat-mdc-text-field-wrapper {
  height: 35px !important;
}

::ng-deep .mat-mdc-form-field-flex{
  margin-top: -11px;
}

::ng-deep .form__field .mdc-floating-label {
  top: 50% !important;
  margin-left: 0px;
  transform: translateY(-50%) translateX(0) !important;
  font-size: 14px !important;
}

::ng-deep .form__field .mdc-floating-label.mdc-floating-label--float-above {
  top: 0 !important;
  margin-left: 2px !important;
  transform: translateY(-50%) scale(0.75) !important;
  font-size: 12px;
}