<div class="container">
  <mat-card class="supermarket">
    <mat-card-header class="supermarket__header">
      <div class="supermarket__header-avatar">
        <img
          src="../../../assets/images/logo.png"
          alt="Supermercado Logo"
          class="supermarket__header-logo"
        />
      </div>
      <mat-card-title class="supermarket__title">Minimarket Mi Tienda</mat-card-title>
      <mat-card-subtitle class="supermarket__subtitle"
        >Siempre productos frescos y al mejor precio</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content class="supermarket__content">
      <img
        src="../../../assets/images/supermercadoGranAki.png"
        alt="Supermercado"
        class="supermarket__image"
      />
    </mat-card-content>

    <mat-card-footer class="supermarket__footer">
      <p class="supermarket__info">
        <strong>📍 Dirección:</strong> Av. Principal 123, Ciudad-Guayaquil <br />
        <strong>🕒 Horario:</strong> Lunes a Domingo, 7:00 AM - 10:00 PM <br />
        <strong>🏷️ Promociones:</strong> Descuentos especiales todos los viernes
      </p>
    </mat-card-footer>
  </mat-card>
  @if (ofertaActual) {
    <div class="oferta-container">
      <mat-card class="oferta-card">
        <mat-card-header>
          <mat-card-title>{{ ofertaActual.nombre_Oferta }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>📝 {{ ofertaActual.descripcion }}</p>
          <p><strong>💰 Descuento:</strong> {{ ofertaActual.descuento }}%</p>
          <p><strong>📅 Válido hasta:</strong> {{ ofertaActual.fecha_Fin | formatoFecha }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  }

  <h2 class="map-title">Ubicación de nuestras sucursales</h2>
  <div id="map" class="map-container"></div>
</div>
