<h2>Seleccione un proveedor</h2>

<mat-form-field appearance="outline" class="form__field__proveedor">
  <mat-label>Buscar Proveedor</mat-label>
  <input
    matInput
    #inputBuscador
    (keyup)="aplicarFiltro($event)"
    placeholder="Ingrese nombre, apellido o código"
  />
  @if(filtro){
    <button mat-icon-button matSuffix (click)="limpiarFiltro(inputBuscador)">
      <mat-icon>close</mat-icon>
    </button>
  }
</mat-form-field>

<div class="proveedor-scroll">
  <app-data-table
    [dataSource]="dataSource"
    [columns]="columnas"
    [totalRegistros]="dataSource.data.length"
    [pageSize]="10"
    mensajeSinDatos="No hay proveedores activos que mostrar."
    (seleccionar)="seleccionarProveedor($event)"
  ></app-data-table>
</div>

<div class="boton-cerrar">
  <button mat-button (click)="cerrar()">Cerrar</button>
</div>
