<mat-card class="footer">
  <mat-card-content class="footer__content">
    <div class="footer__left">
      <p class="footer__text">© {{ year }} - {{ autor }}. Todos los derechos reservados.</p>
      <p class="footer__text">Contáctanos al: {{ telefono }}</p>
    </div>
    <div class="footer__right">
      <a
        class="footer__link"
        href="https://github.com/AbrahamzzZ/Aplicacion-Angular"
        target="_blank"
        aria-label="Ver el código en GitHub"
      >
        <mat-icon class="footer__icon">code</mat-icon>
      </a>
      <a class="footer__link" href="https://github.com/AbrahamzzZ" target="_blank">
        <mat-icon class="footer__icon">work</mat-icon>
      </a>
      <a class="footer__link" href="mailto:hermanosfarfan@gmail.com">
        <mat-icon class="footer__icon">email</mat-icon>
      </a>
    </div>
  </mat-card-content>
</mat-card>
